// PALETTE
$color-black: #000;
$color-white: #fff;
$color-green-01: #42b983;
$color-green-02: #c3f8df;

// USAGE
$color-background-default: $color-black;
$color-background-inverted: $color-white;

$color-txt-default: $color-black;
$color-txt-inverted: $color-white;

$color-button-background-default: $color-green-02;
$color-button-background-submit: $color-green-01;