// PALETTE
$color-black: #000;
$color-gray: #777;
$color-white: #fff;
$color-primary: #0f9a69;
$color-secondary: #90e0bd;
$color-tertiary: #a1e9f6;

// USAGE
$color-background-default: $color-black;
$color-background-complementary: rgba($color-tertiary, 15%);
$color-background-inverted: $color-white;

$color-select-border: $color-gray;

$color-heading-primary: $color-primary;
$color-heading-secondary: $color-black;

$color-txt-default: $color-black;
$color-txt-inverted: $color-white;

$color-button-background-default: $color-secondary;
$color-button-background-submit: $color-primary;

$color-element-focus: $color-primary;