@mixin greyscale-range($lights-out-max-color-range) {
  @for $i from 1 through $lights-out-max-color-range {
    .lights-out-cell.is-cell-color-#{$i} {
      $color-value: round(255 - (255 / ($lights-out-max-color-range - 1) * ($i - 1)));
      $hex-color: rgb($color-value, $color-value, $color-value);
      background: radial-gradient(ellipse at center, darken($color-white, 10%) 0, $hex-color 70%);
    }
  }
}

@mixin stackingMargin($marginAmplifier: 1) {
  margin-bottom: $element-spacing * $marginAmplifier;

  &:last-child {
    margin-bottom: 0;
  }
}