.c-vue-button {
  .vue-button-button {
    padding: 10px 18px;
    border: 0 none;
    border-radius: 4px;
    font-size: $font-size-small;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &.is-button {
    .vue-button-button {
      background-color: $color-button-background-default;
      color: $color-txt-default;

        &:hover:not(:disabled) {
            background-color: darken($color-button-background-default, 10%);
        }
    }
  }

  &.is-submit {
    .vue-button-button {
      background-color: $color-button-background-submit;
      color: $color-txt-inverted;

      &:hover:not(:disabled) {
          background-color: darken($color-button-background-submit, 6%);
      }
    }
  }
}