html {
  background: $color-background-inverted;
  background: radial-gradient(circle, $color-background-inverted 0%, rgba($color-background-default, 52%) 100%)
}

body {
  margin: 8px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-txt-default;
}