html {
  box-sizing: border-box;
  background: $color-background-inverted;
  animation: pulse 10s infinite;
}

body {
  margin: 8px;
}

p {
  @extend %components-stacking-margin;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-txt-default;
}

.heading-1 {
  color: $color-heading-primary;
}

.heading-2 {
  color: $color-heading-secondary;
}

// created by https://www.sliderrevolution.com/resources/css-animated-background/
.background-effect {
  animation: slide 30s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, $color-background-inverted 50%, $color-background-complementary 51%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position:fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.background-element-1 {}

.background-element-2 {
  animation-direction: alternate-reverse;
  animation-duration: 16s;
}

.background-element-3 {
  animation-duration: 22s;
}