html {
  background: $color-background-inverted;
  animation: pulse 10s infinite;
}

body {
  margin: 8px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-txt-default;
}