.game-view {
  padding: floor($element-spacing * 1.5) 0;
  user-select: none;

  .game-view-settings {
    padding: $element-spacing 0;
  }

  .game-view-game-container {
    position: relative;
    padding: ($element-spacing * 2) 0;
  }

  .game-view-victory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color-background-default, 0.8);
    color: $color-txt-inverted;
  }
}

// BREAKPOINTS
// =============================================================================
@media (min-width: 760px) {
  .game-view {
    padding: ($element-spacing * 2.5) 0;

    .game-view-settings {
      padding: ($element-spacing * 2) 0;
    }
  }

  .game-view-game-container {
    position: relative;
    padding: ($element-spacing * 3) 0;
  }
}