.game-view {
  user-select: none;

  .game-view-settings {
    padding: 20px 0;
  }

  .game-view-game-container {
    position: relative;
    padding: 60px 0;
  }

  .game-view-victory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color-background-default, 0.8);
    color: $color-txt-inverted;
  }
}

// BREAKPOINTS
// =============================================================================
@media (min-width: 760px) {
  .game-view {
    .game-view-settings {
      padding: 40px 0;
    }
  }
}